/* .container{
    width: 486px;
    height: 757px;
    border: 1px solid black;
    

}
.A{
    border: 4px solid black;
    width: 100px;
    height: 100px;
    background-color: blue;
}
#B{
border: 4px dashed green;
}
#C{
    border:4px dotted red;
}
#D{
    border: 4px double yellow;
}
#E{
    border: 4px inset orange;
}
#F{
    border: 4PX outset pink;
} */
.B{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 50px;
    top: 100px;
}
.C{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: sticky;
    left: 50px;
    top: 50px;
    
}